/* estilos personalizados */


/* Tipografia */
 
html, body{
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    background-color: #FFF;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	color:#625A5A;
} 

body a:hover{
	 
	color:#ae0000;
	text-decoration: none;
	 
}

/* Fin Tipografia */


/* Autohide navbar */
.slideUp {
	top: -100px;
}

.headroom {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

/* Nav */
#barramenu{
	//background: #fff;
	//background: #f6f8f9; 
	
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f9e2e0 0%, #e5ebee 0%, #e5ebee 100%, #f9e2e0 100%, #f5f7f9 100%, #f9e2e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(0%,#f9e2e0), color-stop(0%,#e5ebee), color-stop(100%,#e5ebee), color-stop(100%,#f9e2e0), color-stop(100%,#f5f7f9), color-stop(100%,#f9e2e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f9e2e0 0%,#e5ebee 0%,#e5ebee 100%,#f9e2e0 100%,#f5f7f9 100%,#f9e2e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f9e2e0 0%,#e5ebee 0%,#e5ebee 100%,#f9e2e0 100%,#f5f7f9 100%,#f9e2e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f9e2e0 0%,#e5ebee 0%,#e5ebee 100%,#f9e2e0 100%,#f5f7f9 100%,#f9e2e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f9e2e0 0%,#e5ebee 0%,#e5ebee 100%,#f9e2e0 100%,#f5f7f9 100%,#f9e2e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f9e2e0',GradientType=0 ); /* IE6-9 */

background: rgba(255, 255, 255, 0.49);

	-webkit-box-shadow: 0px 5px 10px 8px rgba(224,220,220,0.54);
-moz-box-shadow: 0px 5px 10px 8px rgba(224,220,220,0.54);
box-shadow: 0px 5px 10px 8px rgba(224,220,220,0.54);
	padding: 5px 0;
	//position:relative;
}
.logo{
	float:left;
}
.logo a{
	color: #FFF;
	font-weight: 700;
	//margin-top: 1em;
}
.logo a:hover{
	text-decoration:none;
}
/*----navbar-nav----*/
.top-nav ul li a{
	color: #202020;
	padding: 0.5em 1em;
	font-size: 0.96em;
	font-weight:300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 0 0 0 0.5em;
}
.top-nav ul li a span{
	height: 20px;
	width: 1px;
	display: inline-block;
	background: #ae0000;
	position: absolute;
	top: 29%;
	right: 0;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color: #FFFFFF;
	background: #ae0000;
}
 
.top-nav ul .dropdown-menu {
	//background: #202020;
	
}
.top-nav ul .dropdown-menu li {
	text-align: center;
	width:100%;
}

.logo a{
	display:block;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.75em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}


/*-----*/
.contact-info{
	background: #ae0000;
	position: absolute;
	z-index: 999;
	padding: 0 1em 0 0;
	top: 90px;
	right: 10%;
	 
	 
}
.contact-info p{
	color: #FFF;
	font-size:1.5em;
	margin: 0;
	font-weight:300;
}
.contact-info span{
	background: #BD4141;
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-right:0.8em;
}
.contact-info span label{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../imgs/iconos/phone-icon.png) no-repeat 0px 0px;
	margin-top: 0.2em;
	margin-left: 0.6em;
	vertical-align: middle;
}

/* portada */
#portada {
	background: #181015 url( ../imgs/head-bg1.jpg) no-repeat;
	background-size: cover;
	min-height: 520px;
	//text-align: center;
	//padding-top: 100px;
	 position: relative;
}
 

#portada .portada-texto {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 20%;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 35%;
}
.portada-texto-slider h1{
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	background: #252524;
	padding: 0.8em 0.5em;
	width:28%;
	margin: 0.4em 0 0.1em;
	//color: #ae0000;
}
/*----*/
.portada-texto-slider span{
	background: #ae0000;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 100;
	padding: 0.5em 1em;
	margin: 0;
	font-size: 0.8125em;
}
.portada-texto-slider label{
	background: #2A2928;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 100;
	padding: 0.5em 1em;
	margin:0;
	font-size:1.2em;
}
#portada .btn {
	margin-bottom: 10px;
}

#portada .btn-default {
	text-shadow: none;
	background: transparent;
	color: rgba(255, 255, 255, .5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	background: transparent;
}

#portada .btn-default:hover, #portada .btn-default:focus {
	color: rgba(255, 255, 255, .8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	background: transparent;
}

#portada .btn-default:active, #portada .btn-default.active {
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
	-moz-box-shadow: inset 0px 0px 0px 3px #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	background: transparent;
}


/* Intro */
#intro {	 
	padding:3em;
	
}
#intro .intro-detalle{
	
	margin-top:30px;
	  line-height: 24px;	
}
#intro .intro-detalle p,
#intro .intro-detalle a{ 
	   
  	margin-top: 10px;
	color: #777777;
	font-size: 1em; 
	font-family: 'Open Sans', sans-serif;
}
 
/* Novedades   */
.novedad-item{
	position: absolute;
  opacity: 0;
    //-webkit-transition: all .2s linear;
  width: 100%;
  
}
 
.novedad-activo {
	 opacity: 1;    
    position: static;
     -webkit-transition: all .2s linear;
     -webkit-transition-duration: 0.6s;
	  transition-duration: 0.6s;
	 // width: 1200%;
	  //-webkit-transform: translate3d(-1880px, 0px, 0px);
}

.circle{
  background-color: rgba(0,0,0,0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.novedad-slide-prev, .novedad-slide-next{   
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;  	
	color: #202020;
	position: absolute;
	top: 50%;
	z-index: 1;
	margin-top: -.75em; 
}

.novedad-slide-next {
    right: 15px;
}
.novedad-slide-prev{
    left: 15px;
}
.novedad-slide-next:hover, .novedad-slide-prev:hover {
    cursor: pointer;
    background-color: #ae0000;
    color:#FFFFFF;
}
.novedad-slide-nexttt{
  
  float: left;
  font-size: 0;
  height: 23px;
  line-height: 1.6em;
  width: 23px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  left: 0;
  margin: 0;
  bottom: 0;
  top: 0;
}
/* encabezados */
.titulo-encabezado h2 {
	color: #202020;
	  font-size: 2.4em;
	  font-weight: 700;
	  text-transform: uppercase;
	  margin: 0;
}
.titulo-encabezado h2 span {
  color: #ae0000;
}
.titulo-encabezado p {
  font-family: 'Droid Serif', serif;
  color: #BBB;
  font-size: 1em;
  font-style: italic;
  margin-top: 10px;
}

/* Servicios   */
#servicios {	 
	padding:3em;
	margin-bottom:10px;
}

.servicio-item{
	   min-height: 120px;
	  margin-bottom: 30px;
	  padding-right: 45px;
	  padding-left: 2px; 
}
.servicio-item h3 {
  color: #202020;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
}
.servicio-item p {
  color: #777777;
  font-size: 0.85em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.servicio-caja-icono{
	  float: left;
	  margin-right: 20px;
	  position: relative;	
	  
}
.servicio-caja-icono img{
	   color:#fff;
}

.servicio-icono{
	  
	  width: 100px;
	  height: 100px;
	  /*
	  display: block;
	  -webkit-border-radius: 59px 60px 60px 59px/59px 59px 60px 60px;
	  -moz-border-radius: 59px 60px 60px 59px/59px 59px 60px 60px;
	  border-radius: 59px 60px 60px 59px/59px 59px 60px 60px;
	  background-color: grey;
	  position: relative;	*/
	  
}
 
 .servicios-lista{
 	padding-top:1em;
 }
 
/* Turismo Top 10*/
#turismo {
  padding: 3em;
  margin-bottom: 50px;
}
.turismo-lista{
	padding-top:1em;
}
#turismo1-top10 .portfolio-item{
	 
}
 .turismo-img img{
 	width:auto;
 	height:225px;
 }
.turismo-precio{
	  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

#jumboextra {
	width: 100%;
	 padding: 20px 0;
	background-color: #626262;
	  border-top: solid 1px #222628;
	  box-shadow: inset 0px 1px 0px 0px #3e484a;
	  padding: 35px 0 35px 0;
	  color: #fff;
	margin-bottom:50px;
	
}
#jumboextra .container {
	   border: 1px solid #fff;
	  height: 100%;
	  padding: 0;
	   
}
#jumboextra .texto {	 
		  padding: 0 30px;
		  
}
#jumboextra .boton {	     	  
	  padding: 16px 39px 16px 59px;
}


/* Helpers */
.top-space {
	margin-top: 60px;
}
.divisor100{
	background:#ae0000;
	width:100%; 
	height: 1px;
  	display: inline-block;
  	 	
}
.divisor50{
	background:#ae0000;
	width:50%; 
	height: 1px;
  	display: inline-block;
  	 	
}
/* Footer */
.footer1 {
	background: #26455f;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
	position:relative;
}
.footer1::before {
  content: '';
  width: 100%;
  height: 15px;
  background-image: url(../imgs/pattern-footer.png);
  background-size: 59px 15px;
  background-position: left top;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: -15px;
  z-index: 0;
}

.footer1 a {
	color: #ccc;
}

.footer1 a:hover {
	color: #fff;
}

.footer1 .widget {
	margin-bottom: 30px;
}

.footer1 .widget-title {
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
	margin: 0 0 20px;
}

.footer1 .entry-meta {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 35px 0;
	padding: 2px 0;
	color: #888888;
	font-size: 12px;
	font-size: 0.75rem;
}

.footer1 .entry-meta a {
	color: #333333;
}

.footer1 .entry-meta .meta-in {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.footer2 {
	background: #26455f;
	padding: 15px 0;
	color: #777;
	font-size: 12px;
	border-top: 1px solid #ccc;
}

.footer2 a {
	color: #aaa;
}

.footer2 a:hover {
	color: #fff;
}

.footer2 p {
	margin: 0;
}

.widget-simplenav {
	margin-left: -5px;
}

.widget-simplenav a {
	margin: 0 5px;
}

#error {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
	height: 300px;
}

 .col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}


/*--diseï¿½o adaptativo--*/

@media screen and   (max-width:992px) { 
	
	
}

@media ( max-width : 767px) {
	#portada {
		min-height: 420px;
		padding-top: 160px;
	}
	#portada .lead {
		font-size: 34px;
	}
}
 
 /*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin:0;
		background: #fff;
		margin-top: 1em;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top:-3px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right:2%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0em 0;
	}
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

@media (max-width:1366px){
	 .portada-texto-slider h1 {
		width: 34%;
	}
}

@media (max-width:1280px){
	 .portada-texto-slider h1 {
		width: 36%;
	}
	.top-nav ul li a {
		margin:0;
	}
}

@media (max-width:1024px){
	 .portada-texto-slider h1 {
		width: 37%;
		font-size: 1.2em;
	}
	.portada-texto-slider label {
		font-size: 0.95em;
	}
	.top-nav ul li a {
		margin:0;
	}
	 
	.contact-info {
		right: 42px;
	}
	.contact-info p {
		font-size: 1.2em;
	}
	.contact-info span {
		height: 33px;
	} 
	.titulo-encabezado h2{
	font-size: 1.7em;
	}
	.servicio-item h3 {
		font-size: 1em;
	}
	.servicio-item h3 span {
		vertical-align: sub;
	}
	.servicio-item p {
		font-size: 0.8125em;
	}
}

@media (max-width:992px){
	.top-nav ul li a {
		padding: 0.5em 0.7em;
		font-size: 0.85em;
		 
	} 
	.contact-info {
		top: 83px;
	} 
	 .logo  {
		position:absolute;
		left:0%;
	}
	
	.logo a {
		margin-top:0;
		margin-left:0;
	}
	.contact-top_left p {
		margin: 1em 0;
	}
	.contact-top_left {
		margin-bottom: 30px;
	} 
	 
	.servicios-lista {
		text-align: center;
	}
	.turismo-lista {
		text-align: center;
	}
}
@media (max-width:768px){
	 .logo  {
		position:relative;
		
	}
	.contact-info {
		display: none;
	} 
	.portada-texto-slider h1 {
		font-size: 0.95em;
	}
	.portada-texto-slider span {
		font-size: 14px;
	}
	.portada-texto-slider label {
		font-size: 0.85em;
		margin-top: 0.5em;
	}
	 
	.titulo-encabezado p {
		font-size: 0.85em;
	}
	
}
@media (max-width:640px){
 	.portada-texto-slider h1 {
		font-size: 0.85em;
		width: 44%;
	}
}
@media (max-width:480px){
	 
	.portada-texto-slider h1 {
		display: none;
	}
}
@media (max-width:320px){
	.portada-texto-slider{
		//min-width: 194px;
	}
	.portada-texto-slider span {
	   font-size: 11px;
	}
	.portada-texto-slider label {
		font-size: 11px;
	}
	.titulo-encabezado h2 {
	 font-size: 1.2em;
	}
	.titulo-encabezado p {
		font-size: 12px;
	}
	.servicios-lista {
		padding-top:0;
	}
	.turismo-lista {
		padding-top:0;
	}
}